<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content=Type' />
  </head>
  <body>
    <h1>New Trial on TrialSource</h1>
    <p>
      Our records indicate that there is a new trial that matches your criteria on TrialSource.
      Please visit the following link to learn more: http://www.trialsource.herokuapp.com/newtrial
    </p>
  </body>
</html>
