<html>
  <head>
    <meta charset="utf-8" />
    <title>trialSource</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css' />
    <link href="https://fontastic.s3.amazonaws.com/EqTuGZ3p6FUhTL64iwZHkU/icons.css" rel="stylesheet">
  </head>

  <body data-id="<%= session[:user_id] %>" data-type="<%= session[:user_type] %>">

    <div class="modal-wrapper"></div>

    <nav class="main-nav">
      <a class="nav-link nav-title" href="#">trialSource</a>
      <a class="nav-link nav-link-about" href="#about">about</a>
      <div class="login-logout-wrapper">
        <button class="login-logout">login</button>
        <form class="login-form">
          <input class="login-element un-field" type="text" placeholder="email" />
          <input class="login-element pw-field" type="password" placeholder="password" />
          <button class="reg-btn lgn-btn login-element">login</button>
          <p class="login-error-message"></p>
        </form>
      </div>
    </nav>

    <div id="main-content"></div>

    <nav class="footer-nav">

    </nav>

    <script type="text/html" id="landing-page">

      <h1 class="tagline"><em>The</em> source for interventional clinical trials.</h1>

      <div class="search-form-container lp-element lp-form-container xcld-frm-cntnr">

        <form class="lp-form search-form">
          <input class="lp-input lp-form-element" id="condition-search" type="text" placeholder="enter a condition" />
          <button class="reg-btn lp-search-button lp-form-element">search</button>
          <p class="error-message srch-error-message"> </p>
        </form>

      </div>

      <div class="landing-page-divider lp-element"></div>

      <div class="search-form-container lp-element lp-form-container">
        <div class="stat-container">

        <h1 class="lp-stat numTrials">search <span class="num-trials-actual"></span> clinical trials</h1>
        <h1 class="lp-stat numConditions">treating <span class="num-conditions-actual"></span> conditions</h1>
        <h1 class="lp-stat numOrgs">across <span class="num-orgs-actual"></span> institutions</h1>

        </div>
      </div>

    </script>

    <script type="text/html" id="search-results">

      <h1 class="s-results-header">results</h1>

      <div class="rslts-elem rslts-toolbox">

        <form class="geo-form">
          <h3 class="geo-label geo-element">filter by location</h3>
          <input type="text" class="zip-input geo-element" placeholder="your zip code" maxlength="5" />
          <input type="text" class="range-input geo-element" placeholder="max distance (mi)" />
          <button class="reg-btn geo-submit geo-element">filter</button>
        </form>
        <button class="reg-btn clear-geo-btn geo-element">clear location</button>
        <p class="error-message"></p>

      </div>

      <div class="rslts-elem rslts-cntnr">

        <ul class="rslts-list">

        </ul>

      </div>

    </script>

    <script type="text/html" id="admin-nav">

      <h1 class="admin-nav-header">Welcome, <span class="org-name"></span> Administrator.</h1>

      <div class="admin-nav-element admin-nav-container">
        <h2 class="admin-nav-link"><a class="admin-nav-link-actual admin-dr-link">Researchers</a></h2>
      </div>

      <div class="admin-nav-element admin-nav-divider"></div>

      <div class="admin-nav-element admin-nav-container">
        <h2 class="admin-nav-link"><a class="admin-nav-link-actual admin-trial-link">Trials</a></h2>
      </div>

      <div class="admin-nav-element admin-nav-divider"></div>

      <div class="admin-nav-element admin-nav-container">
        <h2 class="admin-nav-link"><a class="admin-nav-link-actual">Overview</a></h2>
      </div>

    </script>

    <script type="text/html" id="manage-researchers">

      <div class="researcher-tools">

        <h2 class="researcher-search-label">find researcher</h2>
        <input class="researcher-search" type="text" placeholder="name" />

        <form class="researcher-creation-form">
          <h2 class="researcher-creation-label">add researcher</h2>
          <input class="researcher-input researcher-first-name-input" type="text" placeholder="first name" />
          <input class="researcher-input researcher-last-name-input" type="text" placeholder="last name" />
          <input class="researcher-input researcher-email-input" type="text" placeholder="email" />
          <input class="researcher-input researcher-password-one" type="password" placeholder="password" />
          <input class="researcher-input researcher-password-two" type="password" placeholder="confirm password" />
          <button class="reg-btn researcher-submit">create</button>
          <p class="error-message"></p>
        </form>

      </div>

      <div class="researcher-list-container">
        <h2 class="researcher-creation-label">active researchers</h2>
        <div class="researcher-list-actual">

        </div>
      </div>

    </script>

    <script type="text/html" id="admin-trials">

      <div class="trials-toolbox">
        <h2 class="researcher-creation-label">tools</h2>
        <input class="search-trials-input" placeholder="search trials"/>
      </div>

      <div class="trials-list-container">
        <div class="trial-list">

        </div>
      </div>

    </script>

    <script type="text/html" id="researcher-trials">

      <h1 class="manage-researchers-header">Welcome, Researcher</h1>

      <div class="trials-toolbox">
        <h2 class="researcher-creation-label">tools</h2>
        <button class="reg-btn new-t-btn">new trial listing</button>
        <input class="search-trials-input" placeholder="search trials"/>
      </div>

      <div class="trials-list-container">
        <ul class="rslts-list">

        </ul>
      </div>

    </script>

    <script type="text/html" id="create-study">

      <h1 class="trial-form-header">New Trial Listing</h1>

      <form class="create-trial-form">
        <p class="trial-contra-label">conditions that your trial aims to treat/study</p>
        <select class="trial-input trial-condition-input" multiple="multiple"></select>
        <input class="trial-input trial-title-input" type="text" placeholder="title" />
        <input class="trial-input trial-principal-input" type="text" placeholder="principal investigator" />
        <input class="trial-input trial-email-input" type="text" placeholder="contact email" />
        <input class="trial-input trial-location-input" id="autocomplete" type="text" placeholder="location" />
        <input class="trial-input trial-start-input" type="text" placeholder="start date" />
        <input class="trial-input trial-complete-input" type="text" placeholder="est. complete date" />
        <p class="trial-contra-label">add criteria below to include in the exclusion form for your trial </p>
        <select class="trial-input contra-selector" multiple="multiple"></select>
        <textarea class="trial-input trial-abstract-input" placeholder="description"></textarea>
        <button class="reg-btn trial-submit">create trial listing</button>
        <p class="error-message"></p>
      </form>

    </script>

    <script type="text/html" id="edit-study">

      <h1 class="trial-form-header">Edit Trial Listing</h1>

      <form class="create-trial-form">
        <p class="edit-t-label">trial name</p>
        <input class="trial-input trial-title-input" type="text" placeholder="title" />
        <p class="edit-t-label split-label">primary contact email</p>
        <p class="edit-t-label split-label">principal investigator(s)</p>
        <input class="trial-input trial-principal-input" type="text" placeholder="principal investigator" />
        <input class="trial-input trial-email-input" type="text" placeholder="contact email" />
        <p class="edit-t-label">location</p>
        <input class="trial-input trial-location-input" id="autocomplete" type="text" placeholder="location" />
        <p class="edit-t-label split-label">est. complete date</p>
        <p class="edit-t-label split-label">start date</p>
        <input class="trial-input trial-start-input" type="text" placeholder="start date" />
        <input class="trial-input trial-complete-input" type="text" placeholder="est. complete date" />
        <p class="edit-t-label">trial description</p>
        <textarea class="trial-input trial-abstract-input" placeholder="description"></textarea>
        <button class="reg-btn trial-submit">edit trial listing</button>
        <button class="cancel-edit">cancel edit</button>
        <p class="error-message"></p>
      </form>

    </script>

    <script type="text/html" id="signup">

      <div class="signup-container">
        <p class=saveme-instructions>Currently there are no trials for which you are a potential match. If you would like to be informed when a viable trial enters the system, confirm your information, enter your email address and click save.</p>

        <ul class="signup-exclusion-list"></ul>
        <form class="signup-form">
          <input type="text" class="saveme-email-input" placeholder="your email"/>
          <button class="reg-btn signup-submit">save my info</button>
          <p class="saveme-error-message"></p>
        </form>

      </div>

    </script>

    <script type="text/html" id="about">

      <div class="about-cntnr">

      </h3 class="about-q">About trialSource:</h3>

        <p class="about-p">trialSource seeks to put agency into the hands of patients seeking trials and their physicians. We streamline the process of identifying interventional trials with a higher likelihood of viability. Member organizations can post trials with a variety of information including exclusion criteria. When a person searches for a condition, trialSource compiles a survey of all exclusion criteria from all relevant trials. Once the survey is completed and submitted, trialSource returns a list of all potentially viable trials, allows the user to narrow results geographically, and facilitates contact between researcher and patient.</p>

        </h3 class="about-q">Why become a member organization?</h3>

        <p class="about-p">On average, 15-20% of trials never enroll a single patient*, and patient recruitment is the number one cost driver for clinical trials**. Through making the process of finding applicable clinical trials easier for patients, trialSource seeks to drastically reduce this number and help member organizations fill trials in a quick and cost effective manner.</p>

        </h3 class="about-q">How do I sign up?</h3>

        <p class="about-p">To sign up, please contact us at info@trialsource.org</p>

        <hr class="about-link-line">

        <p class="about-p">
          <a class="about-link" target="_blank" href="http://www.pharmaceutical-technology.com/features/featurethe-numbers-game-boosting-clinical-trial-enrolment-4171654/">*The numbers game: boosting clinical trial enrolment</a>
          </br>
          <a class="about-link" target="_blank" href="http://www.slideshare.net/asijits/clinical-trial-recruitment-retention">**Clinical Trial Recruitment and Retention</a>
        </p>

      </div>

    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag "application" %>

  </body>
</html>
