* {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  color: #474747;
}

*:focus {
  outline: none;
}

body {
  min-width: 900px;
}

.main-content {
  margin: auto;
  position: relative;
  height: 100%;
  min-width: 900px;
}
