* {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  color: #474747;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid lightgrey;
}

body {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: auto;
}

.main-content {
  margin: auto;
  position: relative;
  height: 100%;
  min-width: 900px;
  text-align: center;
}

.not-found {
  text-align: center;
  width: 33%;
  margin: 4em auto;
  font-weight: 300;
  border: 1px solid grey;
  padding: 2em;
}
