.researcher-input {
  display: block;
  width: 75%;
  margin:auto;
  margin-top: 1em;
  font-size: 1.25em;
  font-weight: 300;
  height: 2em;
  padding: .25em;
  box-sizing: border-box;
}

.researcher-creation-label {
  margin-top: .5em;
  text-align: center;
  font-weight: 400;
}

.researcher-creation-form {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  height: 75%;
  border: 1px solid grey;
  vertical-align: top;
  margin-right: .5%;
}

.researcher-list-container {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid grey;
  width: 66%;
  height: 75%;
}

.manage-researchers-header {
  text-align: center;
  margin: .5em 0;
  font-weight: 300;
}

.researcher-list-actual {
  list-style: none;
  margin: 15px;
}

.researcher-listing {
  background: darkgrey;
  padding: .5em;
  color: white;
}

.researcher-listing + .researcher-listing {
  margin-top: .5em;
}

.r-listing-info {
  display: inline-block;
  color: inherit;
  width: 30%
}

/*.r-listing-info + .r-listing-info {
  margin-left: 5em;
}*/
