.rslts-elem {
  display: inline-block;
  height: 85%;
  vertical-align: top;
}

.rslts-ctrl-cntnr {
  width: 22.5%;
  margin-right: 1.5%;
}

.ctrl-elem {
  width: 100%;
  border: 1px solid grey;
}

.ctrl-cntnr {
  height: 25%;
  margin-bottom: 7%;
}

.disq-cntnr {
  height: 72%;
}

.rslts-cntnr {
  width: 74%;
  height: 84.75%;
  border: 1px solid grey;
}

.rslt-input:focus {
  border: 1px solid dodgerblue;
}

.rslt-form-element {
  display: block;
  margin: 1em auto;
  font-size: 1.25em;
  font-weight: 300;
  padding: .25em;
  width: 80%;
  text-align: center;
}

.disq-explain {
  font-size: .75em;
  color: grey;
  padding: .25em;
}
