.trial-input {
  display: block;
  width: 50%;
  font-size: 1.25em;
  height: 1.75em;
  margin: auto;
  text-align: left;
  padding: .25em;
  font-weight: 300;
}

.trial-submit {
  display: block;
  width: 50%;
  font-size: 1.25em;
  height: 1.75em;
  margin: auto;
  padding: .25em;
  font-weight: 300;
}

.error-message {
  color: tomato;
  margin: 1em auto;
  width: 50%;
  text-align: center;
  font-weight: 300;
}

.create-trial-form {
  width: 100%;
  margin: auto;
}

.trial-form-header {
  text-align: center;
}

.trial-input {
  margin-top: .5em;
  border: 1px solid lightgrey;
}

.trial-input:focus {
  border-color: dodgerblue;
}

.trial-abstract-input {
  font-size: 1em;
  height: 30%;
  resize: none;
}

.create-trial-form {
  margin-top: 2em;
}

.trial-form-header {
  margin-top: 1em;
  font-weight: 300;
}

.trial-start-input, .trial-complete-input {
  position: relative;
}
