.footer-nav {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-115%);
  text-align: center;
  width: 100%;
  height: 1em;
  margin: 0;
}

.disclaimer {
  color: red;
  text-align: center;
  font-size: .85em;
  font-weight: 300;
}
