.lp-element {
  display: inline-block;
}

.lp-form-container {
  height: 100%;
  width: 49%;
  vertical-align: top;
  position: relative;
}

.lp-header {
  font-weight: 300;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.lp-form {
  position: absolute;
  left: 50%;
  top: 37.5%;
  -webkit-transform: translate(-50%, -50%);
}

.lp-form-element {
  position: relative;
  display: block;
  width: 350px;
  font-size: 1.25em;
  height: 1.75em;;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

.srch-error-message {
  width: 350px;
  position: absolute;
  top: 105%;
}

.lp-input {
  font-weight: 300;
  box-sizing: border-box;
  text-align: left;
  padding-left: 1em;
}

.lp-form-element + .lp-form-element {
  margin-top: 10px;
}

.lp-input:focus {
  border: 1px solid dodgerblue;
}

.landing-page-divider {
  box-sizing: border-box;
  width: 1px;
  border-right: 1px solid lightgrey;
  height: 50%;
  -webkit-transform: translateY(25%);
}

.tagline {
  font-size: 2.25em;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
  margin-bottom: -1.25em;
}

#condition-search {
  text-align: left;
  padding-left: 1em;
}

.lp-stat {
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
}

.lp-stat + .lp-stat {
  margin-top: .5em;
}

.stat-container {
  display: inline-block;
  text-align: left;
  position: absolute;
  padding-left: 25%;
  width: 100%;
  left: 50%;
  top: 36%;
  -webkit-transform: translate(-49%, -50%);
  white-space: nowrap;
}

.numTrials {
  color: dodgerblue;
  margin-left: 12.5%;
}

.nt-vis {
  visibility: visible;
  opacity: 1;
  margin-left: 0%;
}

.numConditions {
  color: #1a80e0;
  margin-left: 25%;
}

.nc-vis {
  visibility: visible;
  opacity: 1;
  margin-left: 12.5%;
}

.numOrgs {
  color: #176fc1;
  margin-left: 37.5%;
}

.no-vis {
  visibility: visible;
  opacity: 1;
  margin-left: 25%;
}

.num-trials-actual, .num-conditions-actual, .num-orgs-actual {
  font-weight: 700;
  color: inherit;
}
