.main-title + .nav-link {
  margin-left: 9em;
}

.nav-link + .nav-link {
  margin-left: 3em;
}

.main-nav {
  padding: 1em 5%;
  max-width: 1250px;
  min-width: 900px;
  margin: auto;
}

.nav-link {
  vertical-align: center;
  -webkit-transition: all .1s;
}

.nav-link:hover {
  color: #0083ff;
}

.nav-link:active {
  color: darkorange;
}

.nav-title {
  font-size: 1.8em;
  font-weight: 700;
  color: #0083ff;
}

.login-logout {
  font-size: 1.15em;
  background: none;
  height: 25px;
  width: 100px;
  color: dodgerblue;
  font-weight: 300;
  border: none;
  cursor: pointer;
}

.login-logout-wrapper {
  position: relative;
  display: inline-block;
  float: right;
}

.top-form {
  -webkit-transform: none;
  top: 100%;
  left: -200%;
  background: rgba(0, 0, 0, .05);
}
