.modal-wrapper {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .35);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
  z-index: 1000;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.modal-actual {
  width: 40%;
  background: white;
  border: 5px solid firebrick;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  padding: 2em;
  min-width: 441px;
  box-sizing: border-box;
}

.modal-title, .modal-subtitle, .modal-instruction{
  text-align: center;
  color: firebrick;
}

.modal-instruction {
  margin-top: .75em;
}

.modal-title {
  font-size: 2em;
  margin-bottom: .5em;
}

.delete-confirmation {
  display: block;
  margin: .75em auto 1em;
  height: 35px;
  width: 350px;
  font-size: 1.25em;
  text-align: center;
}

.delete-confirmation:focus {
  border: 1px solid firebrick;
}

.mdl-btn {
  height: 35px;
  width: 150px;
  font-size: 1.25em;
  border: none;
  cursor: pointer;
}

.mdl-btn + .mdl-btn {
  margin-left: 50px;
}

.confirm-delete {
  background: firebrick;
  color: white;
}

.cancel-delete {
  background: dodgerblue;
  color: white;
}

.modal-error-message {
  color: firebrick;
  font-size: .9em;
  font-weight: 300;
  text-align: center;
  margin-top: 1.5em;
  position: absolute;
  width:100%;
  top: 100%;
  -webkit-transform: translateY(-275%);
  margin-left: -2em;
}
