.rslts-elem {
  display: inline-block;
  height: 80%;
}

.ctrl-elem {
  width: 100%;
  border: 1px solid lightgrey;
  position: relative;
}

.ctrl-cntnr {
  height: 25%;
  margin-bottom: 7%;
}

.disq-cntnr {
  height: 72%;
}

.rslt-input:focus {
  border: 1px solid dodgerblue;
}

.rslt-form-element {
  display: block;
  margin: auto;
  font-size: 1.25em;
  font-weight: 300;
  padding: .25em;
  width: 80%;
  text-align: center;
}

.rslt-form-element + .rslt-form-element {
  margin-top: 1em;
}

.disq-explain {
  font-size: .8em;
  color: grey;
  padding: .5em;
  font-weight: 300;
  text-align: center;
}

.rslt-search-form {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.rslts-list {
  list-style: none;
  padding: .5em;
  overflow: auto;
}

.rslt-listing {
  background: rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: .5em;
}

.rslt-listing + .rslt-listing {
  margin-top: .5em;
}

.rslt-info {
  font-weight: 300;
  width: 19%;
}

.rslts-hdr {
  background: dodgerblue;
}

.rslt-hdr-info {
  color: white;
  font-weight: 400;
}

.rslt-name {
  cursor: pointer;
  -webkit-transition: all .1s;
}

.rslt-name:hover {
  color: dodgerblue;
}

.rslt-name:active {
  color: darkorange;
}

.bck-btn {
  font-size: 1.25em;
  width: 100px;
  height: 35px;
}

.icon {
  font-family: untitled-font-1;
  color: white;
  margin-left: -.65em;
}

.rslts-cntnr {
  display: inline-block;
  width: 75%;
  height: 95%;
  border: 1px solid lightgrey;
  overflow: auto;
  float: right;
}

.rslts-toolbox {
  width: 24%;
  height: 95%;
  border: 1px solid lightgrey;
  overflow: auto;
}

.geo-element {
  display: block;
  width: 75%;
  height: 35px;
  margin: auto;
  margin-top: .5em;
  text-align: center;
  font-size: 1.15em;
  font-weight: 300;
}

.s-results-header {
  margin-top: -1.3em;
  text-align: center;
  font-weight: 300;
  margin-bottom: .3em;
}
